#grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto auto auto;
  gap: 1px;
  width: 100%;
  height: auto;
}

.logo,  .c2, .c3, .c4, .c5, .c6 {
  border: 1px solid black;
/*  padding: 10px;*/
  box-sizing: border-box;
  overflow: auto;
  height: fit-content;
  min-height: 0;
} 


.logo{
  grid-row: 1;
  grid-column: 1;
  width: 100px;
  height: 100px;
} 
.c2{  
  grid-row: 1;
  grid-column: 2 / 10;
} 
.c3{
  grid-row: 2;
  grid-column: 1 / 5;
} 
.c4{
  grid-row: 2;
  grid-column: 6 / 10;
} 
.c5{
   grid-row: 3;
  grid-column: 1 / 5;

}
.c6 {
    grid-row: 3;
  grid-column: 6 / 10;

}

