#grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto auto auto auto;
  gap: 1px;
  width: 100%;
  height: auto;
}

.logo,  .c2, .c3, .c4, .c5, .recipe-instructions {
  /* border: 1px solid black; */
  padding: 0 10px;
  box-sizing: border-box;
  overflow: auto;
  height: fit-content;
  min-height: 0;
} 


.logo{
  grid-row: 1;
  grid-column: 1;
  width: 100px;
  height: 100px;
} 
.c2{  
  grid-row: 1;
  grid-column: 2 / 10;
} 
.c3{
  grid-row: 2;
  grid-column: 1 / 6;
} 
.c4{
  grid-row: 2;
  grid-column: 7 / 10;
} 
.c5{
   grid-row: 4;
  grid-column: 1 / 10;

}
.recipe-instructions {
    grid-row: 3;
  grid-column: 1 / 10;
  margin-top: 0px;
  margin-bottom: 0px;

}

#recipe-image-2 { flex: 1; height: 100%; }

#recipe-image-2 img { object-fit: contain; }

/* Stile per le immagini delle ricette */
.recipe-images img {
  height: auto;
  margin: 5px;
  width:100%;
}

/* Stile specifico per immagine del piatto */
#recipe-image-2 img {
  width: 200px;
  height: auto;
}

/* Stile per il titolo della ricetta */
.recipe-name {
  color: #2c3e50;
  font-size: 1.8em;
  display: block;
  margin-bottom: 0.5em;
  padding-bottom: 0.3em;
  border-bottom: 3px solid #3498db;
}
